/* [_► Posicionamiento ◄_]
	relative = se mueve por su alrededor
	absolute = se mueve por su alrededor quitanfo el flujo
	fixed = se mueve por la ventana
	
	float = flotar a algún lado del padre;
*/
/* [_► Transiciones ◄_]
	► Css afectado
		transition-property: width;
	
	► Duración
		transition-duration: 2s;
	
	► Tipo
		transition-timing-function: linear;
	
	► Restraso
		transition-delay: 1s;
	
	◄► Completo: (property, duration, timing-function, delay)
		transition:	width 2s ease 1s;
*/
/* [_► Animaciones ◄_]
	
	► Retraso (timepo) (w3schools.com/cssref/css3_pr_animation-delay.asp)
		animation-delay: .5s, 0s;
	
	► Duración (w3schools.com/cssref/css3_pr_animation-duration.asp)
		animation-duration: 5s, 1s;

	► Nombre (w3schools.com/cssref/css3_pr_animation-name.asp)
		animation-name: caer, girarY;

	► Mantener el final de la animación (www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp)
		animation-fill-mode: forwards;
	
	► Cuantas veces (www.w3schools.com/cssref/css3_pr_animation-iteration-count.asp)
		animation-iteration-count: infinite, infinite;
	
	► FPS (w3schools.com/cssref/css3_pr_animation-timing-function.asp)
		animation-timing-function: steps(200), steps(60);
			30s =   1	fps
			.5s =   60	fps
			.3s =	100	fps
		   ---
			calculo:
			7224 /24 = 301
			(300 +1) *24 frames = 7224
	
	► Completo
		animation: girarY 1s steps(60) infinite;
	
	► Llamada
		@keyframes sprite{
			100%{
				background-position: -7224px;
			}
		}
*/
/* [_► Degradados ◄_]
	background:	linear-gradient(135deg, rgba(0,0,0,0) 20%, red);
				linear-gradient
				radial-gradient
					radial-gradient(circle, ...)
					(probar: exactamente no se lo que hacen)
					radial-gradient(closest-side at 60% 55%) encoger dentro
					radial-gradient(farthest-side at 60% 55%) estirar dentro
					radial-gradient(farthest-corner at 60% 55%) estirar dentro
				repeating-linear-gradient
	
*/
/* [_► Fuente propia ◄_]
	
	@font-face {
		font-family: Minecraft;
		src: url("/recursos/fuentes/Minecrafter.Alt.ttf");
	}
*/
/* [_• Pulsaciones •_]
	► Key Press
		NOTA: Sustituir en el código: $("input") → $("*") para ver el úmero de la tecla
		w3schools.com/jquery/tryit.asp?filename=tryjquery_event_which
*/
																	/*
		  ╔════════════╗
		  ║   TÍTULO   ║
	┌──╦┐ ╠────────────╣ ┌╦───────────────────────────────────────┐
	│  ╚══╝            ╚══╝                                       │
	│ Mensaje . . .                                               │
	└─────────────────────────────────────────────────────────────┘ */
*{
	margin:		0px;
	padding:	0px;
	font-family: "Tw Cen MT";
}

html{
	background-color:	rgb(64, 64, 64);
}
body{
	background-color:	whitesmoke;
	width:	80%;
	margin-left:	10%;
}
h1{
	padding:	30px 0px;
	margin-left: 2%;
}

nav{
	float:	left;
	border:			solid 3px rgb(32, 32, 32);
	width:			Calc(95% - 30px);
	margin-left:	2.5%;
	padding:		15px;
}

nav a{
	float:	left;
	width:	Calc(20% - 20px - 6px);
	min-height:	66%;
	padding:	10px;
	margin:	0px 3px;
	
	background-color:	#54AEE4;
	transition:	width 1s ease 0.05s;
}
nav a img{
	width:	100%;
}

nav a{
	display:	inline-block;
	text-decoration:	none;
}

nav span{
	color:	whitesmoke;
	font-size:	3.0em;
	display:	block;
	white-space:	nowrap;
	overflow:	hidden;
}

/*Título*/
nav a img + span{
	text-overflow:	none;
}
/*Texto*/
nav a img + span span{
	font-size: 50%;
	text-overflow:	ellipsis;
}